<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DBConnectionString" connectionString="..." />
	</connectionStrings>
	<appSettings>
		<add key="ClearFiles" value="true"/>
		<add key="Command" value="SELECT TABLE_SCHEMA, TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE='BASE TABLE'"/>
		<add key="Namespace" value="SqlQueryClient.Dal"/>
		<add key="OutputFolder" value="..\..\..\..\SqlQueryClient\Dal"/>
	</appSettings>
</configuration>