<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DBConnectionString" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=NorthwindPubs;Integrated Security=SSPI;" />
	</connectionStrings>
	<appSettings>
		<add key="OverwriteExistingDataModelClasses" value="true"/>
		<add key="DecorateWithDatabaseAttribute" value="false"/>
		<add key="DataModelClassNamespace" value="QueryExecution.Dal"/>
		<add key="OutputFolder" value="..\..\..\..\..\QueryExecution.Dal\Dal"/>
	</appSettings>
</configuration>